In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv("StockMarket.csv")

In [3]:
data.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
0,20MICRONS,EQ,90.95,105.80,89.30,103.70,103.40,90.10,2110339,2.126884e+08,01-AUG-2022,17748,INE144J01027,NaN
1,21STCENMGM,EQ,24.50,24.50,23.70,23.90,23.95,24.15,5926,1.409755e+05,01-AUG-2022,83,INE253B01015,NaN
2,364D010623,TB,85.19,94.12,85.19,94.12,94.12,89.65,200,1.793100e+04,01-AUG-2022,2,IN002022Z093,NaN
3,3IINFOLTD,EQ,42.00,42.70,41.10,41.70,41.80,43.05,677355,2.823900e+07,01-AUG-2022,5472,INE748C01038,NaN
4,3MINDIA,EQ,22752.00,23080.00,22500.00,22922.10,22934.10,22742.80,3445,7.865063e+07,01-AUG-2022,1520,INE470A01017,NaN